
/*@font-face {
    font-family: 'open_sansregular';
    src: url('fuentes/OpenSans-Regular-webfont.eot');
    src: url('fuentes/-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/-Regular-webfont.woff') format('woff'),
         url('fuentes/-Regular-webfont.ttf') format('truetype'),
         url('fuentes/-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
	font-family: 'icomoon';
	src:url('fuentes/icomoon.eot?-ya0rd0');
	src:url('fuentes/icomoon.eot?#iefix-ya0rd0') format('embedded-opentype'),
		url('fuentes/icomoon.woff?-ya0rd0') format('woff'),
		url('fuentes/icomoon.ttf?-ya0rd0') format('truetype'),
		url('fuentes/icomoon.svg?-ya0rd0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-estrella:before {
	content: "\f005";
	text-shadow: #d14732 1px 1px 1px;
}
.icon-flecha-arriba:before {
	content: "\f0aa";
}
.icon-flecha-abajo:before {
	content: "\f0ab";
}
.icon-lapiz:before {
	content: "\e600";
	margin-right: 1em;
	background: white;
	border-radius: 50%;
	box-shadow: rgba( 0, 0, 0, 0.5) 2px 2px 2px;
	padding: 0.5em;
	color: #22bce0;
	text-shadow: none;
	font-style: normal;
	
}
	
}
a
{
	color: #22bce0;
}
aside 
{
	display: none;
}
body
{
	background: #EEEEEE;
	/*font-family: 'open_sansregular';*/
	font-family: 'open_sans', sans-serif;
	font-size: 16px;
	
}

footer 
{
	background: #22bce0;
	text-align: center;
	color: rgba( 255,255,255, 0.7 );
	padding: 1em;
}
footer p:first-child
{	
	margin-bottom: 0;
}
footer p:last-child
{
	
	margin-top: 0;
}
footer p:last-child:after
{
	content: " -";:;
}
footer p:last-child:before
{
	content: "- "
}
header 
{
	background: #344b54;
	color: white;
	overflow: hidden;
	padding: 0,5em;
	position: relative;
}
header figure
{
	float: left;
}
header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 35px 130px 0 0; 
	text-align: center;
	padding-top: 1em;

}
header #avatar 
{
	position: absolute;
	top: 0;
	right: 0%;
	margin: 33px 50px 0 0; 
}
header #avatar img
{
	width: 70px;
	border-radius: 50%;
}
header #logo
{
	padding: 1em;
	border-right: 1px solid white;
}
header #logo img
{
	width: 70px;
	-webkit-transition:1s;
}
header #logo img:hover
{
	-webkit-transform: rotate(360deg);
	
}

nav 
{
	background: #80bca3;
	position: relative;
	border-radius,bottom:5px;  
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0 9em 0 0;
}
nav ul li:hover
{
	background: #22bce0;
}
nav ul li 
{
	display: inline-block;
	margin: 0 0.5em 0 0;
	-webkit-transition:.3s;
}
nav ul li a
{
	color: white;
	text-decoration: none;
	padding: 0.5em;
	display: block;
}
nav ul #publicar_nav
{
	
	position: absolute;
	right: 0;
	top: -0.3em;

}

nav ul #publicar_nav a 
{

	background: #22bce0;
	border-radius: 5px;
	padding: 0.8em 1em 0.8em 1em;
	box-shadow: rgba( 0, 0, 0, 0.6 ) 2px 2px 2px;
	font-style: italic;
	text-shadow: rgba( 0, 0, 0, 0.5 ) 2px 2px 2px;
}
#contenido
{
	margin: 1em;


}
#contenido .item
{
	background: white;
	padding-bottom: 0.5em;
	border-bottom: 2px solid #22bce0;
	min-height: 133px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 3em;
	box-shadow: rgba( 0, 0, 0, 0.8 ) 0px 2px 5px;

}
#contenido .item .imagen_item img
{
	float: left;
	margin: 0 0 0 -2em;
	padding: 0.5em 1em 0 0;
}
#contenido .item .imagen_item img
{
	width: 96px;
}
#contenido .item .titulo_item
{
	font-size: 1.2em;
	font-style: italic;
	font-weight: normal;
	padding-top: 6px;

}
#contenido .item .titulo_item a
{
	text-decoration: none;

}
#contenido .item .autor_item 
{
	color: #aaa;
	margin-top: -1em; 
}
#contenido .item .autor_item a
{
	font-style: bold;
	text-decoration: none;
}
#contenido .item .datos_item
{
	margin: 1em 1em 0 0;
}
#contenido .item .datos_item .tag_item
{
	background: #f4502a;
	border-radius: 5px;
	padding: 0.2em 0.5em;
	text-decoration: none;
	color: white;	
}
#contenido .item .datos_item .fecha_item
{
	float: right;
	color: #aaa;
}
#contenido .item .votacion
{
	background: white;
	position: absolute;
	top: 100%;
	left: 3%;
	right: 3%;
	margin-top: 2px; 
	padding: 0.5em 1em;
	border-radius: 0 0 5px 5px;	
	box-shadow: rgba( 0, 0,0, 0.5 ) 0px 2px 6px;
}
#contenido .item .votacion .comentarios_item,#contenido .item .votacion .estrellaguardar_item
{
	float: right;
}	

#contenido .item .votacion .up
{
	text-decoration: none;
	color: #22bc68;
}
#contenido .item .votacion .down
{
	
	color: #dd4f24;
	text-decoration: none;	
}

#contenido .item .votacion a
{
	text-decoration: none;
}
#contenido .item .votacion .estrellaguardar_item
{
	color: #ffbe2c;
	position: relative;
	margin-right: 0.5em;
	
}

/*FORMULARIO*/

.formulario
{
	display: none;
	background: #dd4f24;
	padding: 0.5em;
	text-align: right;
}
.formulario input
{
	border: 1px #888;	
	padding: 0.2em;
	margin: 0.1em;
	border-radius: 5px;
}

@media screen and (min-width: 800px) {
	
	#contenido
	{
		/*overflow: hidden;*/

	}
	#contenido .item
	{

		padding: 0;
		width: 50%;
		/*float: left*/
	}
	#contenido .item:nth-child(odd){
		/*para que los objetos de la izquierda se alinien*/
}
@media screen and (min-width: 1000px) {
	aside
	{
		display: block;
		float: right;
		margin-right: 5em;
		width: 40%;
		/*border: 1px solid red;*/
		padding-top: 1em;
	}
	aside video 
	{
		width: 100%;
	}
}
